.TodoContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;

}

.input_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task_input {
  width: 75%;
  padding: 10px;
  border-radius: 4px;
  font-size: 1em;
}

.add_button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add_button:hover {
  background-color: #45a049;
  /* background-color: #ad9823; */
}

.task_list {
  list-style-type: none;
  padding: 0;
}

.task_list {
  list-style-type: none;
  padding: 0;
}

.task_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.task_checkbox {
  margin-right: 10px;
}

.task_text {
  flex-grow: 1;
  margin-right: 20px;
}

.task_text_completed {
  text-decoration: line-through;
  color: #aaa;
}

.delete_button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete_button:hover {
  background-color: #e53935;
}

.ButtonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ControlButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s;
  display: flex;

}

@media screen and (max-width:400px) {
  .add_button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
}
